@model (List<Roster>, List<Temp>)
<div class="row">
<div class="col-md-4">
<table class="table">
                <thead style="background-color: orange">
                    <tr>
                        <th scope="col">Player Id</th>
                        <th scope="col">Jersey</th>
                        <th scope="col">First name</th>
                        <th scope="col">Second name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Birthday</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Height</th>
                        <th scope="col">Birth city</th>
                        <th scope="col">Birth state</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach(Roster roster in Model.Item1)
                        {
                             <tr>
                                     <td scope="col">@roster.playerid</td>
                                     <td scope="col">@roster.jersey?.ToString()</td>
                                     <td scope="col">@roster.fname</td>
                                     <td scope="col">@roster.sname</td>
                                     <td scope="col">@roster.position</td>
                                     <td scope="col">@roster.birthday.ToLongDateString()</td>
                                     <td scope="col">@roster.weight?.ToString()</td>
                                     <td scope="col">@roster.height?.ToString()</td>
                                     <td scope="col">@roster.birthcity</td>
                                     <td scope="col">@roster.birthstate</td>
                             </tr>
                        }
                    }
                </tbody>
</table>
</div>
<div class="col-md-4"></div>
<div class="col-md-4">
<table class="table">
                <thead style="background-color: orange">
                    <tr>
                        <th scope="col">Player Id</th>
                        <th scope="col">Jersey</th>
                        <th scope="col">First name</th>
                        <th scope="col">Second name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Birthday</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Height</th>
                        <th scope="col">Birth city</th>
                        <th scope="col">Birth state</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach(Roster roster in Model.Item2)
                        {
                             <tr>
                                     <td scope="col">@roster.playerid</td>
                                     <td scope="col">@roster.jersey?.ToString()</td>
                                     <td scope="col">@roster.fname</td>
                                     <td scope="col">@roster.sname</td>
                                     <td scope="col">@roster.position</td>
                                     <td scope="col">@roster.birthday.ToLongDateString()</td>
                                     <td scope="col">@roster.weight?.ToString()</td>
                                     <td scope="col">@roster.height?.ToString()</td>
                                     <td scope="col">@roster.birthcity</td>
                                     <td scope="col">@roster.birthstate</td>
                             </tr>
                        }
                    }
                </tbody>
</table>
</div>

</div>